.completedChallengesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 1 fica pra cada canto. */

    margin: 3.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7d8da;

    font-weight: 500;
}

.completedChallengesContainer span:first-child { /* first-child => 1o span */
    font-size: 1.24rem;    
}

.completedChallengesContainer span:last-child { /* last-child => Último span */
    font-size: 1.5rem;    
}