.experienceBar {
    display: flex;
    align-items: center; /* Alinha o conteúdo verticalmente ao centro */
}

.experienceBar span {
    font-size: 1rem;    
}

.experienceBar > div {
    flex: 1; /* Ocupa a largura máxima do conteiner */
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

span.currentExperience {
    position: absolute;
    top: 12px;
    transform: translate(-50%);
}