.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column; /* Diz que os próximos elementos fiquem abaixo. Se fosse do lado do outro seria row */
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas que tenham tamanhos iguais */
    gap: 6.25rem; /* Espaçamento entre as colunas*/
    align-content: center; /* Todo conteúdo do grid seja alinhado verticalmente */
}